#editorWrapper{
	height: 100%;
    text-align: center;
}

#writeNoteWrapper{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-color: #666;
    border-radius: 10px;
    padding: 10px;
    padding-top: 3px;
    display: inline-block;
}

#messagesWrapper{
    overflow-y: auto;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

.thoughtWrapper{
    display: inline-block;
    width: 100%;
}

.notePortionWrapper{
    margin: 0 auto;
    margin-bottom: 2px;
    display: table;
    background-color: #ddd;
    border-bottom-style: solid;
    border-bottom-color: #666;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width:92%;
    margin-left: 1%;
    float: left;
}

.compare_wrapper{
    margin-top: 10px;
    display: inline-block;
    height: 100%;
    width: 3%;
    font-size: 30px;
    cursor: pointer;
} 

.compare_wrapper:hover{
    color: #4581E2;
}

.left_compare_wrapper{
    float: left;
}

.right_compare_wrapper{
    float: right;
}

/*
.compare_wrapper_bulk{
    margin-top: 22px;
    display: inline-block;
    height: 100%;
    width: 3%;
    font-size: 16px;
    cursor: pointer;
} 

.compare_wrapper_bulk:hover{
    color: #4581E2;
}

.left_compare_wrapper_bulk{
    float: left;
}

.right_compare_wrapper_bulk{
    float: right;
}
*/

.noteSelected{
    border-style: dashed;
    border-top-style: dashed;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #2561B2;
    border-bottom-color: #2561B2;
    border-width: 4px;
}

.noteContent{
    font-family: sans-serif;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    max-height: 120px;
    color: #333;
    overflow-y: auto;
    float: left;
    width: 90%;
    text-align: left;
    margin-top: 2px;
}

.noteDate{
    float: left;
    color: #333;
    font-style: italic;
    padding-right: 5px;
    margin-right: 5px;
    border-right-style: solid;
    border-right-color: #666;
    border-right-width: 2px;
}

.noteAuthor{
    float: left;
    color: #333;
    font-style: italic;
}

.noteOptions{
    float: right;
    color: #333;
}

.noteStar{
    float: right;
    font-style: bold;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
/*    color: #333;*/
    cursor: pointer;
}

.noteStar:hover{
    color: #4581E2!important;
}

.flip{
    float: left;
    margin-left: 15px;
    color: #333;
}

.flip:hover{
    color: #4581E2;
}

.merge_thought{
    color: #333;
    float: right;
    margin-right: 10px;
}

.merge_thought:hover{
    color: #4581E2;
}

.split_thought{
    color: #333;
    float: right;
    margin-right: 10px;
}

.split_thought:hover{
    color: #4581E2;
}

.delete_thought{
    color: #333;
    float: right;
}

.delete_thought:hover{
    color: #4581E2;
}

/*----------------------
/* --- EDITOR ----------
/* -------------------*/

#editorButtonToolbar{
    
}

#editorToolbarWrapper{
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #2561B2;
    display: inline-block;
    width: 100%;
}

#editor{
    font-family: arial, sans-serif;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    height: 100px;
    color: #333;
    overflow-y: auto;
    float: left;
    width: 100%;
    text-align: left;
}

#postThoughtBtn{
    float: left;
    margin-top: 5px;
}

#postThoughtBtn:hover{
    background-color: #4581E2;
}

#checkboxTextForEnterPress{
    float: right;
    color: #333;
    margin-right: 5px;
    font-style: italic;
    margin-top: 6px;
}

#checkboxForEnterPress{
    float: right;
    margin-top: 10px;
}

.divider{
    width: 3px;
    background-color: #2561B2;
    float: left;
    height: 47px;
    margin: 0 3px;
    margin-bottom: -1px;
}
.btn-toolbar{
    clear: both;
    padding: 1px;
    margin: 0px;
}
.btn.editor-toolbar-item {
    width:35px;
    margin: 3px;
    margin-top: 5px;
}
.editor-toolbar-item {
    cursor:pointer;
    float: left;
    text-align: center;
    margin:0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ddd;
    color: #333;
    border-color: #ddd;
    border-style: solid;
    border-width: 3px;
    margin: 3px;
    margin-top: 5px;
}
.editor-toolbar-item button{
    background-color: #ddd;
    color: #333;
    border: none;
}
select{
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 5px;
    color: #333;
    padding: 2px;
    background-color: #ddd;
    border-radius: 5px;
}
.btn.editor-toolbar-item.active {
    color: #eee;
    background-color: #4581E2;
}
.btn.editor-toolbar-item:hover{
    border-color: #4581E2;
    border-style: solid;
    border-width: 3px;
}
#editorOptionsWrapper{
    margin-bottom: 0px;
    text-align: center;
}
#fontSize{
    height: 195px;
    min-width: 0px;
}
#fontName{
    height: 300px;
    overflow-y: scroll;
    min-width: 0px;
}

/*----------------------
---- SUB THOUGHTS ------
----------------------*/

.othersThoughtsWrapper{
    width: 98%;
    display: inline-block;
    color: #eee;
    margin-top: 5px;
}

.subThoughtCompare{
    cursor: pointer;
    width: 3%;
    font-size: 30px;
    margin-top: 5px;
    float: left;
}

.subThoughtCompare:hover{
    color: #4581E2!important;
}

.subThoughtCompareLeft{

}

.subThoughtCompareRight{
    
}

.subThoughtCompareBulk{
    cursor: pointer;
    width: 3%;
    font-size: 16px;
    margin-top: 17px;
    float: left;
}

.subThoughtCompareBulk:hover{
    color: #4581E2!important;
}

.subThoughtCompareLeftBulk{

}

.subThoughtCompareRightBulk{
    
}

.subThoughtContent{
    float: left;
    background-color: #666;
    width: 86%;
    margin-left: 1%;
    border-bottom-style: solid;
    text-align: left;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.subThoughtHTML{
    width: 100%;
    max-height: 70px;
    float: left;
    padding: 3px;
    margin-bottom: 2px;
    overflow-y: auto
}

.subThoughtDate{
    float: left;
    padding: 0 4px;
    border-right-style: solid;
    border-width: 2px;
}

.subThoughtAuthor{
    float: left;
    padding: 0 4px;
}

.subThoughtAdd{
    float: right;
    padding: 0 8px;
    background-color: #4581E2;
    margin: 2px;
    margin-top: -4px;
    color: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.subThoughtAdd:hover{
    text-decoration: underline;
}

.subThoughtCancel{
    float: right;
    padding: 0 4px;
    margin: 2px;
    margin-top: -4px;
    cursor: pointer;
}

.subThoughtCancel:hover{
    text-decoration: underline;
}

.subThoughtReport{
    float: right;
    padding: 0 4px;
    margin: 2px;
    margin-top: -4px;
    cursor: pointer;
}

.subThoughtReport:hover{
    text-decoration: underline;
}

.subThoughtLoadMore{
    margin-left: 15px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.subThoughtLoadMore:hover{
    color: #4581E2!important;
}

/* ---------------------
/* ---- SCROLL BARS ----
/* -------------------*/

#messagesWrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: rgba(255,255,255,.3);
}

#messagesWrapper::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

#messagesWrapper::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(255,255,255,.5);
}

.noteContent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #bbb;
}

.noteContent::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

.noteContent::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}

#editor::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #ddd;
}

#editor::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

#editor::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbb;
}

.subThoughtHTML::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: rgba(255,255,255,.3);
}

.subThoughtHTML::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

.subThoughtHTML::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(255,255,255,.5);
}

/*Necessary to get the superscript and subscript buttons to toggle correctly*/
sub{
    vertical-align: sub;
}

sup{
    vertical-align: super;
}