/* -------------------- */
/*    General Styles    */
/* -------------------- */

body {
	background-image: url(../IMG/chalk_bg.jpg);
	color: #eee;
}

@font-face {
    font-family: bigChalk;
    src: url(KGBrokenVesselsSketch.ttf);
}

@font-face {
    font-family: smallChalk;
    src: url(KGTenThousandReasons.ttf);
}

.no_padding_margins{
    padding: 0px;
    margin: 0px;
}

.lightBG{
	color: #222;
}

/* -------------------- */
/*       Home Page      */
/* -------------------- */

.navbar{
    background-color: #eee;
    border-bottom-width: 3px;
    border-bottom-color: #2561B2;
    color: #FFB62A;
}

.navbarOption{
	color: #222;
	font-size: 20px;
	padding: 11px;
}

#navbar_title{
	padding: 10px;
	color: #222;
	font-size: 20px;
	font-weight: bold;
}

.navbarOption:hover{
	color: #eee;
	background-color: #2561B2;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
color: #eee;
background-color: #2561B2;
}

.navbar-inverse .navbar-nav>li>a {
color: #222;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #222;
background-color: transparent;
}

#registerButton{
	font-family: bigChalk; 
	font-size: 50px;
	display: inline-block;
	border-bottom-style: dashed;
	border-color: #ddd;
}

#registerButton:hover{
	color: #fff;
	border-color: #fff;
}