<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/Szpak/Desktop/Rec 12-9-14.trec</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAADIEcX5rMQGC86tf1A2j5hwCp5lgu0w7GmXP38wmQyIuqAEA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFN6cGFrAAAABwAAAAEBAABEZXNrdG9wABAA
	AAABAQAAUmVjIDEyLTktMTQudHJlYxAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAAOgYCAAAAAAAIAAAABAMAAN/KBQAAAAAACAAAAAQDAABNywUAAAAAAAgAAAAEAwAA
	f4SEAAAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG6N9GjAAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tlaflAAAACQAAAABAQAAMDQzNzU3MEYtMTQzOS0zMTlGLUFDODAtQUU2OUIzN0Q0NjM2
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
</dict>
</plist>
