<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/Szpak/Desktop/5minDemo.trec</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAAOKCi407ry94luxlfN20Cmfhhg+ANC0kD8rU6e4R3pDlqAEA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFN6cGFrAAAABwAAAAEBAABEZXNrdG9wAA0A
	AAABAQAANW1pbkRlbW8udHJlYwAAABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
	AwAAOgYCAAAAAAAIAAAABAMAAN/KBQAAAAAACAAAAAQDAABNywUAAAAAAAgAAAAEAwAA
	DYWEAAAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG6N9j+AAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAgT10AAAACAAAAAAEAABB
	tlaflAAAACQAAAABAQAAMDQzNzU3MEYtMTQzOS0zMTlGLUFDODAtQUU2OUIzN0Q0NjM2
	GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
</dict>
</plist>
